.page

  width: $size__global
  min-height: 100%
  margin-right: auto
  margin-left: auto

  box-shadow: 2px 1px 8px 0 fade-out($color__black, 0.5)
  background-color: fade-out($color__white, 0.2)
  
  padding-right: $size__xsmall
  padding-left: $size__xsmall

  &__header
    height: $page-header__height