.page-header-search
  width: 260px

  input
    $icon__height: 19px
    $icon__width: 18px
    padding-left: $icon__width + $input__offset * 2
    background-image: url(./img/search.png)
    background-repeat: no-repeat
    background-position: #{$input__offset + 2px} #{($input__height - $icon__height) / 2}